# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# production
*.log

# env
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# editors
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# turbo
.turbo

# misc
*.local
